In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv('doctor_dataset.csv')

In [4]:
df.head()

         Doctor           Speciality Location     Contact
0      Dr.Tanya      Muscular System     Pune  9945456389
1     Dr.Deepak     Digestive System   Mumbai  9865321254
2  Dr.Aishwarya   Respiratory System   Nashik  7898654521
3      Dr.Rohit  Reproductive Organs    Thane  8798653254
4      Dr.Manoj     Endocrine System     Pune  7565982325

In [17]:
system='Digestive System'

In [18]:
location='Pune'

In [27]:
x=df[np.logical_and(df.Speciality==system,df.Location==location)]

In [28]:
x

Empty DataFrame
Columns: [Doctor, Speciality, Location, Contact]
Index: []

In [29]:
if(len(x)==0):
    x=df[df['Speciality']==system]

In [30]:
x

          Doctor        Speciality    Location     Contact
1      Dr.Deepak  Digestive System      Mumbai  9865321254
9    Dr.Pavithra  Digestive System      Raigad  8894213607
21     Dr. Singh  Digestive System  Chandigarh  8923509879
25  Dr. Waghmare  Digestive System      Nagpur  8769564784
37     Dr. Joshi  Digestive System       Delhi  9456123785

In [33]:
doctor_location=[loc for loc in x['Location']]

In [34]:
doctor_location

['Mumbai', 'Raigad', 'Chandigarh', 'Nagpur', 'Delhi']

In [37]:
doctor_names=[name for name in x['Doctor']]

In [38]:
doctor_names

['Dr.Deepak', 'Dr.Pavithra', 'Dr. Singh', 'Dr. Waghmare', 'Dr. Joshi']

In [39]:
doctor_contact=[contact for contact in x['Contact']]

In [40]:
doctor_contact

[9865321254, 8894213607, 8923509879, 8769564784, 9456123785]